@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
  } */
.main-nav {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 100px 1fr 2fr 1fr 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo {
    display: flex;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
}

.menu {
    grid-column: 3/4;
}

.menu ul {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social {
    grid-column: 4/5;
}

.social ul {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-items: right; */
}

.menu ul li a {
    text-transform: capitalize;
    color: rgba(0, 0, 3, 0.8);
    transition: 0.5s;
}

/* .nav (
    
) */
/* nav {
    background-color: lightblue;
} */

@media (max-width: 1080px) {
    .main-nav {
        height: 8rem;
        grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }

    .logo,
    .menu .social ul {
        height: 8rem;
    }

}

@media (max-widht: 998px) {
    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 2rem 2rem;
    }

    .menu-nav {
        display: none;
    }

    .social .social-desktop {
        height: 0;
        display: none;
    }

    .menu {
        display: none;
    }

    .logo,
    .social ul {
        height: 7rem;
    }


}


.body {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body p {
    font-size: 3rem;
    text-transform: capitalize;
}

.body h1 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 798px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }

    .logo,
    .social ul {
        height: 6rem;
    }

    .social {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social {
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 520px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }

    .logo,
    .social ul {
        height: 6rem;
    }



    .social {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social {
        display: block;
        font-size: 2.5rem;
    }

}

.linkdin {
    color: #3b5998;
}

.instagram {
    color: #c32aa3;
}

.facebook {
    color: blue;
}

.menu ul ol:hover>a {
    transform-origin: left;
    color: rgba(0, 0, 3, 1);
    text-decoration: underline;
    transition: 0.5s;
}

.mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
}